<template>
    <div id="yandex-map"></div>
</template>

<script>
    export default {
        props: {
            apiKey: {
                type: String,
            },
            coordinatesDefault: {
                type: Array,
                default: () => [55.751244, 37.618423],
            },
            getAdress: {
                type: Boolean,
                default: true
            },
            placemarkDraggable: {
                type: Boolean,
                default: true
            },
            placemarkClick: {
                type: Boolean,
                default: true
            },
            getAdress: {
                type: Boolean,
                default: true
            },

        },
        data() {
            return {
                map: null,
                address: null,
                placemark: null,
                searchControl: null,
                coordinates: this.coordinatesDefault,
            }
        },
        mounted() {
            // Установливаем скрипты для использования яндекс карты
            let scriptYandexMap = document.createElement('script');
            scriptYandexMap.setAttribute('src', `https://api-maps.yandex.ru/2.1/?apikey=${this.apiKey}&lang=ru_RU`);
            document.head.appendChild(scriptYandexMap);

            // Инициализируем яндекс карту
            scriptYandexMap.addEventListener("load", this.initializeYandexMap);
        },
        watch: {
            coordinates(v) {
                this.geocodeAdress();
                this.placemark.geometry.setCoordinates(v);
            },
            address(v) {
                this.$emit('address', v);
            },
        },
        methods: {
            initializeYandexMap() {
                ymaps.ready(() => {
                    this.map = new ymaps.Map("yandex-map", {
                        center: this.coordinates,
                        zoom: 10,
                        controls: ['zoomControl', 'fullscreenControl'],
                        searchControlProvider: 'yandex#search'
                    });

                    // Отключаем скрол карты
                    this.map.behaviors.disable('scrollZoom');

                    // Добавляем свой маркер
                    this.setPlacemark();

                    // Добавляем поиск
                    this.addSearchControl();

                    // Добавляем слушатель на результаты поиска
                    this.listenerResultSearch();

                    // Добавляем слушатель на перетаскивание маркера
                    this.listenerMovePlacemark();

                    // Добавляем слушатель на клик по карте
                    this.listenerClickByMap();
                });
            },
            setPlacemark() {
                this.placemark = new ymaps.Placemark(
                    this.coordinates,
                    {},
                    {draggable: this.placemarkDraggable}
                );

                this.map.geoObjects.add(this.placemark);
                this.geocodeAdress();
            },
            addSearchControl() {
                this.searchControl = new ymaps.control.SearchControl({
                    options: {
                        // Скрываем маркер поиска
                        noPlacemark: true,
                        // Количество объектов на странице
                        resultsPerPage: 1
                    },
                });

                this.map.controls.add(this.searchControl);
            },
            listenerResultSearch() {
                this.searchControl.events.add("resultselect", (e) => {
                    this.coordinates = this.searchControl.getResultsArray()[0].geometry.getCoordinates();
                });
            },
            listenerMovePlacemark() {
                if (this.placemarkDraggable)
                    this.placemark.events.add("dragend", (e) => {
                        this.coordinates = this.placemark.geometry.getCoordinates();
                    });
            },
            listenerClickByMap() {
                if (this.placemarkClick)
                    this.map.events.add("click", (e) => {
                        this.coordinates = e.get('coords');
                    });
            },
            geocodeAdress() {
                if (this.getAdress) {
                    this.placemark.properties.set('iconCaption', 'поиск...');

                    ymaps.geocode(this.coordinates).then((res) => {
                        var firstGeoObject = res.geoObjects.get(0);

                        this.placemark.properties.set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [

                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length
                                    ? firstGeoObject.getLocalities()
                                    : firstGeoObject.getAdministrativeAreas(),

                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: firstGeoObject.getAddressLine()
                        });

                        this.address = firstGeoObject.getAddressLine();
                    });
                }
            }
        }
    };
</script>

<style>
    #yandex-map {
        width: 100vw;
        height: 100vh;
    }
</style>
